<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <title>Acceuil</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
            <a href="#" class="navbar-brand">SAFI-AIR</a>
            <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
                aria-controls="navbarNav" aria-expanded="false" aria-lable="Toggle Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Home</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-white">About</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Service</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Campany</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Image -->
    <div style="padding-left: 5%;" class="banner-image w-100 vh-100 d-flex flex-column justify-content-center ">
        <h1>ARE YOU READY FOR YOUR NEXT <span> DESTINATION ?</span> </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus minima at deserunt consectetur ipsum
            facihitecto cum voluptatibus at, veritatis voluptas. Voluptatem?</p>
        <div>
            <button class="btn btnn">Read More</button>
            <button style="background-color: #004487; width: 175px;" class="btn btnn">About Us</button>
        </div>
    </div>
    <form action="/search" method="post">
        <div class="search-flight text-center">
            <select class="form-control" name="start" id="start">
                <% if (destination) { %>
                <% for (var i = 0; i < destination.length; i++) { %>
                <option value=<%= destination[i].id %>> <%= destination[i].location %></option>
                <% } %>
                <% } %>

            </select>
            <select id="end" name="end" class="form-control">
                <% if (arrive) { %>
                <% for (var i = 0; i < arrive.length; i++) { %>
                <option value=<%= arrive[i].id_arrive %>> <%= arrive[i].location_arrive %></option>
                <% } %>
                <% } %>
            </select>
            <input type="date" id="datee" name="datee" class="form-control">
            <button type="submit" class="btn btn-primary btnnn">Search flight</button>

        </div>
    </form>



    <div class="service">
        <div class="container">

            <div class="row">
                <div id="hotel" class="col-md-6 col-lg-6 col-sm-12">
                    <img width="75%" src="/images/ff.png" alt="">
                </div>


                <div class="col-md-6 col-lg-6 col-sm-12">

                    <h6>Our Service</h6>
                    <h1>Safi Air </h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo officia ut atque nostrum suscipit
                        magnam,
                        nemo aperiam debitis esse voluptatem inventore numquam ad, tempora incidunt saepe architecto
                        nisi a dolore!
                    </p>
                    <button class="btn btn-primary btn-sm btne" type="button"> Read More</button>

                </div>
            </div>
        </div>
    </div>
    <div class="cardSection">
        <!-- Products -->
        <div class="Products pt-1 pb-5">
            <h1 class="text-center"> Our <span> Extras</span></h1>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore ullam similique at
                dolore pariat</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12">

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/images/assurance.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Assurance</h5>
                                <p class="card-text"> <span class="dot"></span> assurance <br> <span class="dot"></span>
                                    cas de panne <br> There are many variations of pas passages of Lorem Ipsum...</p>
                                <a href="#" class="btn btn-primary">Plus details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/images/v.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">hotels</h5>
                                <p class="card-text"><span class="dot"></span> Climatisé <br> <span class="dot"></span>
                                    Lit Confortable <br> There are many variations of pas passages of Lorem Ipsum...</p>
                                <a href="#" class="btn btn-primary">Plus details</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-lg-4 col-sm-12">

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/images/food.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">repas</h5>
                                <p class="card-text"> <span class="dot"></span>plat <br> <span class="dot"></span>drink
                                    <br> There are many variations of pas ...</p>
                                <a href="#" class="btn btn-primary">Plus details</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- xx -->
    <div class="Products  pb-5">
        <h1 class="text-center"> Our <span> Extras</span></h1>
        <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore ullam similique at
            dolore pariat</p>
        <div class="container">
            <form action="/send" method="post">
                <button type="submit">send mail</button>
            </form>
        </div>
    </div>









    <!-- footer -->

    <footer style="background-color: #004487; padding-top: 4%;" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Contact Info-->
                    <section class="widget widget-light-skin">
                        <h3 class="widget-title">Get In Touch With Us</h3>
                        <p class="text-white">Phone: 00 33 169 7720</p>
                        <ul class="list-unstyled text-sm text-white">
                            <li><span class="opacity-50">Monday-Friday:</span>9.00 am - 8.00 pm</li>
                            <li><span class="opacity-50">Saturday:</span>10.00 am - 6.00 pm</li>
                        </ul>
                        <p><a class="navi-link-light text-white" href="#">safiAir@plan.com</a></p><a
                            class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i
                                class="socicon-facebook"></i></a><a
                            class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i
                                class="socicon-twitter"></i></a><a
                            class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i
                                class="socicon-instagram"></i></a><a
                            class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i
                                class="socicon-googleplus"></i></a>
                    </section>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Mobile App Buttons-->
                    <section class="widget widget-light-skin">
                        <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin"
                            href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App
                                Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span
                                class="mb-subtitle">Download on the</span><span class="mb-title">Google
                                Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span
                                class="mb-subtitle">Download on the</span><span class="mb-title">Windows
                                Store</span></a>
                    </section>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- About Us-->
                    <section class="widget widget-links widget-light-skin">
                        <h3 class="widget-title">About Us</h3>
                        <ul>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">About Unishop</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Our Blog</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Account / Shipping Info-->
                    <section class="widget widget-links widget-light-skin">
                        <h3 class="widget-title">Account &amp; Shipping Info</h3>
                        <ul>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Shipping Rates &amp; Policies</a></li>
                            <li><a href="#">Refunds &amp; Replacements</a></li>
                            <li><a href="#">Taxes</a></li>
                            <li><a href="#">Delivery Info</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                        </ul>
                    </section>
                </div>
            </div>
            <hr class="hr-light mt-2 margin-bottom-2x">

            <!-- Copyright-->
            <p class="footer-copyright">&copy; All rights reserved.</a></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script>
        var nav = document.querySelector('nav');
        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 200) {
                nav.classList.add('bg-dark', 'shadow');
            } else {
                nav.classList.remove('bg-dark', 'shadow');
            }
        });

        function getDay() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, "0");
            var mm = String(today.getMonth() + 1).padStart(2, "0");
            var yyyy = today.getFullYear();
            today = yyyy + "-" + mm + "-" + dd;
            return today;
        }

        Today_Date = getDay();

        const date = document.getElementById('datee');
        date.min = Today_Date;
        date.value = Today_Date;
    </script>
</body>

</html>